{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
    <h1>Mettre à jour</h1>

    {{ include('comment/_form.html.twig', {'button_label': '
    mettre à jour'}) }}

    <a href="{{ path('comment_index') }}">back to list</a>

    {{ include('comment/_delete_form.html.twig') }}
{% endblock %}
