{% extends 'layoutMail.html.twig' %}
{% block title %}Nouvelle Série {% endblock %}
{% block body %}
	<h1>Nouvelle série
		{{ program.title }}
		crée</h1>
	<p>Bonjour, un nouveau série est apparu sur Wild Séries !
	</p>
	<p>Le résume :
		{{program.summary }}</p>
	<a href="http://localhost:8000/programs/show/{{ program.slug }}">
		Voir la série</a>
{% endblock %}
