@import "~bootstrap/scss/bootstrap";
$theme-colors: ( "primary":yellow, "secondary": blue, );
body {
    background-color: turquoise;
}

.title {
    text-align: center;
}

.title2 {
    text-align: center;
}