<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/public/build/app.css">
    <script src="/public/build/app.js"></script>

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<header>
    {% include "_navbar.html.twig"%}
</header>
{% block content %}
    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}

{% endblock %}


</body>
</html>