{% extends 'base.html.twig' %}

{% block body %}
    <h1 class = "title">Bienvenue sur Wild Series</h1>

    <h2 class = "title2"> Nouveautés sur Wild-Séries : </h2>
    <div class="container-fluid">
        <div class="container">
            <div class="season_description">
    {% for program in programs %}
        <div>
            <h2>{{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            <p>{{ program.summary }}</p>
            <a href="{{ path("program_show", { slug: program.slug }) }}">Plus de détail</a>
        </div>
    {% endfor %}
 </div>

{% endblock %}
