<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New</title>
</head>
<body>
    <h1>Nouvelle/Nouveau {% block add %}{% endblock %} a été créé(e)</h1>
    <p>Bonjour, Nouvelle/Nouveau {% block title %}{% endblock %} a été ajouté dans Wild Series</p>
    <p>Summary : {% block summary %}{% endblock %}</p>
    {% block content %}
    {% endblock %}
</body>
</html>
